.plant-card{
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 250px;
}

.plant-title{
    font-size: 25px;
}

.image{
    height: 200px;
    width: 240px;
    
}

.plant-description{
    text-align: center;
}